{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="markdown-body">
        <h1>{{ content }}</h1>
      </article>
      {{ each comments }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>{{ $value.userID.nickname }}</span> commented 
          <span style="color:gray;float:right;margin-right: 20px;">{{ $value.created_time | dateFormat:'yyyy/MM/dd hh:mm:ss' }}</span>
        </div>
        <div class="panel-body">
            {{ $value.content }}
        </div>
      </div>
      {{/each}}
      <hr>
      {{ if user }}
      <form id="reply_form">
        <div class="form-group" style="display:none;">
          <label for="exampleInputPassword1"></label>
          <input type="text" name="topicID" value={{ topicID }}>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">回覆文章</label>
          <textarea class="form-control" name="content" id="" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回覆</button>
      </form>
      {{ /if }}

    </div>
  </div>
</section>
{{/block}}

{{block 'script'}}
<script>
  $('#reply_form').on('submit', function (e) {
    e.preventDefault();
    var formData = $(this).serialize();
    $.ajax({
      url: '/topic/show',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        var err_code = data.err_code
        if (err_code === 0) {
          parent.location.reload();
          // window.location.href = '/'
        } else if (err_code === 500) {
          window.alert('服務器忙，請稍後重試！');
        }
      }
    })
  })
</script>
{{/block}}